@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: Outfit-Light;
    src: url("fonts/Outfit-Light.ttf") format("truetype");
}

.bg-animation {
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotate-animation {
    to {
        --angle: 360deg
    }
}

@supports (background: paint(houdini)) {
    .bg-animation:after {
        animation: rotate-animation 5s linear infinite;
        background: linear-gradient(var(--angle), #6d6bad, #436fce, #c65c93, #3c3d7a);
    }
}